main .container{
    justify-content: center;
}
main .container .section-main {
    display: grid;
    width: 95%;
    justify-content: center;
    justify-self: center;
    grid-template-columns: 70% 25%;
    gap: 5%;
}
main .container .section-main .contact-form {
    background-color: #D9D9D9;
    border-radius: 3px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    display: block; 
    justify-content: center;
    justify-self: center;
    width: 99%;
    margin-top: 20px;
    margin-bottom: 20px;
}
main .container .section-main .contact-form form{
    display: grid;
    justify-content: center;
    justify-self: center;
    width: 100%;
    grid-template-columns: 40% 40%;
    row-gap: 25px;
    column-gap: 10%;
}
main .container .section-main .contact-form form div{
    width: 100%;
    justify-content: center;
    justify-self: center;
}

main .container .section-main .contact-form form .message{ 
    grid-column: 1 / 3;
}
main .container .section-main .contact-form form button{
    grid-column: 1 / 3;
    width: 75%;
    margin-bottom: 25px;
}
main .container .section-main .contact-aside{
    display: block; 
    background-color: #D9D9D9;
    border-radius: 3px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    width: 99%;
    margin-top: 20px;
    margin-bottom: 20px;
}
main .container .section-main .contact-aside p{
    width: 80%;
    padding-top: 20px;
}
main .container .section-main .contact-aside .body-divider{
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: #9A9A9A;
    margin-top: 25px;
    margin-bottom: 25px;
}
main .container .section-main .contact-aside .body-divider:nth-child(even){
    width: 60%;
    justify-self: center;
    margin: 10px auto;
}
main .container .section-main .contact-aside section{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #000000;
}
main .container .section-main .contact-aside .card-title{
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #000000;
    padding-top: 10px;
}
main .container .section-main .contact-aside .title-divider{
    width: 65%;
    margin: auto;
    margin-bottom: 5px;
}
main .container .section-main .contact-aside .days{
    font-weight: 800;
    font-size: 16px;
    padding-top: 10px;
}
main .container .section-main .contact-aside .summer{
    font-size: 18px;
}
main .container .section-main .contact-aside .sub-summer{
    font-size: 12px;
    font-style: italic;
    padding: 5px;
}
main .container .section-main .contact-aside:last-child{
    padding-bottom: 50px;
}
label{
    display: block;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 10px;
    padding-top: 20px;
}
input{
    height: 50px;
    background: #CFCFCF;
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    width: 100%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-indent: 15px;
    transition: 0.5s;
}
input:focus{
    outline: rgba(0, 0, 0, 0.50);
    background: #c5c5c5;
    transition: 0.5s;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  transition: background-color 5000s ease-in-out 0s;
}
select{
    height: 50px;
    background: #CFCFCF;
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    width: 100%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-indent: 15px;
    transition: 0.5s;
}
select:focus{
    outline: rgba(0, 0, 0, 0.50);
    background: #c5c5c5;
    transition: 0.5s;

}
textarea{
    height: 200px;
    background: #CFCFCF;
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    width: 100%;
    text-indent: 15px;
    padding-top: 10px;
}
textarea:focus{
    outline: rgba(0, 0, 0, 0.50);
    background: #c5c5c5;
}

@media (max-width: 1200px){
    main .container .section-main .contact-form form{
        grid-template-columns: 90%;
        grid-template-rows: repeat(4, 100px) 300px 75px;
        justify-content: center;
        row-gap: 0px;
        column-gap: 0px;
        margin: 20px auto;
    }
    main .container .section-main .contact-form form div{
        grid-column: 1 / 3;
    }
    label{
        font-weight: 1000;
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 5px;
        padding-top: 15px;
    }
    input{
        height: 40px;
        box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
        width: 100%;

        font-weight: 500;
        font-size: 14px;
        text-indent: 10px;
    }
    select{
        height: 40px;
        background: #CFCFCF;
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        text-indent: 10px;
    }
}
@media (max-width: 850px){
    main .container .section-main {
        margin: 20px auto;
        grid-template-columns: 90%;
        gap: 0;
    }
    main .container .section-main .contact-form form{
        /*grid-template-columns: 90%;
        grid-template-rows: repeat(4, 85px) 250px 50px;*/
        display: block;
        width: 90%;
    }
    textarea{
        height: 175px;
        margin-bottom: 25px;
    }
    label{
        font-weight: 600;
    }
}